@font-face {
  font-family: shubha;
  src: url(./NType82-Regular.otf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: shubha, system-ui, sans-serif;
}

html, body { height: 100%; }

body{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(#eeeeff, #c8c7ff);
}

.chatbot-popup{
  position: relative;
  width: 400px;
  background: #fff;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 0 0 128px 0 rgba(0, 0, 0, 0.1), 0 32px 64px -48px rgba(0, 0, 0, 0.5);
}

.chat-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;
  background: #5350c4;
}

.chat-header .header-info{
  display: flex;
  align-items: center;
  gap: 10px;
}

.header-info .chatbot-logo{
  height: 35px;
  width: 35px;
  padding: 6px;
  fill: #5350c4;
  flex-shrink: 0;
  border-radius: 50%;
  background: #fff;
}

.header-info .logo-text{
  font-size: 1.31rem;
  color: #fff;
  font-weight: 500;
}

/* close button styling */
#close-chatbot{
  border: none;
  color: #fff;
  height: 40px;
  width: 40px;
  font-size: 1.9rem;
  margin-right: -10px;
  padding-top: 2px;
  cursor: pointer;
  background: none;
  border-radius: 50%;
  transition: 0.2s ease;
}
#close-chatbot:hover { background: #3d39ac; }

.chat-body{
  padding: 25px 22px;
  display: flex;
  gap: 20px;
  height: 500px;
  margin-bottom: 90px;
  overflow-y: auto;
  flex-direction: column;
  scrollbar-width: thin;
  scrollbar-color: #ccccf5 transparent;
}

.chat-body .message{
  display: flex;
  gap: 11px;
  align-items: center;
}

.chat-body .bot-message .bot-avatar{
  height: 35px;
  width: 35px;
  padding: 6px;
  fill: #fff;
  flex-shrink: 0;
  margin-bottom: 2px;
  align-self: flex-end;
  background: #5350c4;
  border-radius: 50%;
}

.chat-body .user-message{
  flex-direction: column;
  align-items: flex-end;
}

.chat-body .message .message-text{
  padding: 12px 16px;
  max-width: 75%;
  font-size: 0.95rem;
}

.chat-body .bot-message .message-text{
  background: #f2f2ff;
  border-radius: 13px;
}

.chat-body .user-message .message-text{
  background: #5350c4;
  color: #fff;
  border-radius: 13px 13px 3px 13px;
}

.chat-body .bot-message .thinking-indicator{
  display: flex;
  gap: 4px;
  padding: 15px ;
}

.chat-body .bot-message .thinking-indicator .dot{
  height: 7px;
  width: 7px;
  opacity: 0.7;
  border-radius: 50%;
  background: #6f6bc2;
  animation: dotpulse 1.8s ease-in-out infinite;
}

.chat-body .bot-message .thinking-indicator .dot:nth-child(1){ animation-delay: 0.2s; }
.chat-body .bot-message .thinking-indicator .dot:nth-child(2){ animation-delay: 0.4s; }
.chat-body .bot-message .thinking-indicator .dot:nth-child(3){ animation-delay: 0.6s; }

@keyframes dotpulse {
  0%,44%{ transform: translateY(0); opacity: 1; }
  28%{ opacity: 0.5; transform: translateY(-5px) }
  45%{ opacity: 0.3; }
}

.chat-footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #fff;
  padding: 15px 22px 20px;
}

.chat-footer .chat-form{
  display: flex;
  align-items: center;
  background: #fff;
  border-radius: 32px;
  outline: 1px solid #cccce5;
  overflow: hidden;
  width: 100%;
}

.chat-footer .chat-form:focus-within{ outline: 2px solid #5350c4; }

.chat-footer .message-input{
  border: none;
  outline: none;
  resize: none;
  height: 47px;
  width: 100%;
  font-size: 0.95rem;
  padding: 14px 0 13px 18px;
  border-radius: inherit;
}

.chat-form .chat-controls{
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0 15px;
}

.chat-form .chat-controls button{
  height: 35px;
  width: 35px;
  border: none;
  font-size: 1.15rem;
  color: #5350c4;
  cursor: pointer;
  background: none;
  border-radius: 50%;
  transition: 0.2s ease;
}

#send-message{
  background: #5350c4;
  color: #fff;
}

.chat-form .chat-controls #send-message:hover{ background: #3d39ac; }
.chat-form .chat-controls button:hover{ background: #5350c4; color: #fff; }
